.app-bar {
    border-bottom: 1px solid #eeffee;
}
.tool-bar {
    flex-wrap: wrap;
  }
.tool-bar-title {
    flex-grow: 1;
}
.link {
    margin: 1rem 1.5rem;
}
.nav-item-btn span {
  text-transform: none;
}