.loading-wrapper {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  z-index: 1;
}
.loading-dots {
  text-align: center;
  font-size: 50px;
  color: #f28c58;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  background: rgba(255, 255, 255, 0.75);
}
.loading-dots-white {
  color: white;
}
.transparent-loading-dots {
  background: transparent;
}
.loading-dot {
  -webkit-animation-name: loading-blinks;
  animation-name: loading-blinks;
  -webkit-animation-duration: 1.4s;
  animation-duration: 1.4s;
  -webkit-animation-iteration-count: infinite;
  animation-iteration-count: infinite;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
}
.loading-dot-2 {
  -webkit-animation-delay: 0.2s;
  animation-delay: 0.2s;
}
.loading-dot-3 {
  -webkit-animation-delay: 0.4s;
  animation-delay: 0.4s;
}
@-webkit-keyframes loading-blinks {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
@keyframes loading-blinks {
  0% {
    opacity: 0.2;
  }
  20% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}
