.app-root-wrapper {
    display: flex;
    width: 100%;
    height: 100vh;
    overflow: hidden;
    background-color: #f7f6f2;
}

.main-content-wrapper {
    width: 100%;
    overflow-y: scroll;
    padding-right: 17px;
    box-sizing: content-box;
}

@media(max-width: 959px) {
    .main-content-wrapper {
        padding-top: 70px;
    }
}